.card {
  width: 420px;
  height: 528px;
  padding: 33px 36px;
  text-align: center;
}

.forgotLink {
  margin: 0 12px 66px 0;
  text-align: right;

  & > a {
    text-decoration: none;
  }
}

.signupLink {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);

  &:visited {
    color: var(--color-accent-500);
  }
}

.input {
  margin: 20px 0;
  text-align: left;
}

.h1 {
  margin: 0 0 28px;
}

.account {
  margin: 20px 0 10px;
  color: var(--color-light-900);
}
