.root {
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.small {
  width: 36px;
  height: 36px;
}

.large {
  width: 96px;
  height: 96px;
  font-size: var(--font-size-xxl);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: var(--color-accent-500);
}
